@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900&display=swap');

:root {
    --green: hsla(141, 73%, 42%, 1);
    --yellow: hsla(61, 100%, 87%, 1);
    --purple: hsla(266, 85%, 65%, 1);
    --gray: hsla(129, 6%, 24%, 1);
    --gray-dark: hsla(0, 0%, 25%, 1);
    --white: #fff;
}
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body, html {
    padding: 0;
    margin: 0;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
a {
    cursor: pointer;
}
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 20px;
    width: 100%;
    height: 50vh;
    padding: 0;
    background: var(--green);
}

.hero__heading {
    margin: 0 0 1rem 0;
    /* font-size: 15vw; */
    font-size: 5.33rem;
    font-weight: 900;
    line-height: 80.5%;
    text-align: center;
    color: var(--yellow);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hero__subheading {
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    color: var(--white);
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 5vh 0;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    max-width: 600px;
    padding: 2rem;
    color: var(--green);
    text-decoration: none;
}
.card__icon {
    width: 15vw;
    height: auto;
    max-width:100px;
    min-width:30px;
}
.card__title {
    font-size: 1.7rem;
    margin: 0.85rem 0;
    text-align: center;
    color: var(--green);
    text-decoration-line: underline;
}
.card__description {
    margin: 0;
    line-height: 140%;
    font-size:1.3rem;
    text-align: center;
    color: var(--gray);
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20vh;
    min-height:160px;
    background: var(--gray-dark);
    border-bottom: 1rem solid var(--green);
    width: 100%;
}
.footer__title{
    font-size: 3rem;
    color: var(--yellow);
}



















/* KESKMINE */

@media (min-width: 768px) { 
    .hero__heading {
        font-size: 9vw;
        transform: rotate(-3deg);
    }
    .hero__subheading {
        font-size: 1.6rem;
        transform: rotate(-3deg);
        /* border:1px solid red; */
    }
    .card__description {
        font-size: 1.5rem;
    }
}















/* LAI EKRAAN */

@media (min-width: 1024px) { 

    .hero {
        height: 53vh;
    }

    .hero__subheading {
        width: 75vw;
        font-size: 1.6vw;
        text-align: left;
    }

    .hero__subheading:last-child {
        text-align: right;
    }
    /* .alumine {
        text-align: right;
    } */
    .content {
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
        width: 80%;
        padding: 10vh 0;
        max-width: 1200px;
    }
    .card {
        flex: 0 1 32.3%;
        padding: 2.65rem;
        box-shadow: 0px 2px 6px hsla(0, 0%, 0%, 0.15);
        border-radius: 8px;
        transition: all 0.5s ease-in-out;
    }
    .card:hover {
        background: var(--yellow);
        box-shadow: 0 3px 9px 1px hsla(0, 0%, 0%, 0.25);
    }
    .card__icon{
        width: 8vw;
        height: auto;
        max-width:80px;
        min-width:60px;
    }
    .card__title {
        font-size: 2rem;
        text-decoration: none;
    }
    .footer {
        /* border-bottom: 2rem solid var(--green); */
        border-width: 2rem;
    }
}

